*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;

}

.toolbox-cont > *{
    margin-left: 4rem;
}


.toolbox-priority-cont{
    height: 3.5rem;
    width: 18rem;
    background-color:#3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


.color{
    height: 1.5rem;
    width: 3rem;
}


.lightpink{
    background-color: lightpink;
}


.lightgreen{
    background-color: lightgreen;
}


.lightblue{
    background-color: lightblue;
}

.black{
    background-color: black;
}


.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color:#3d3d3d ;
    display: flex;
}


.action-btn-cont>*{
    display: flex;
    width: 50%;
    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
}


.add-btn:hover{
 background-color: #4BB543;
 }

 .remove-btn:hover{
    background-color: #4BB543;
 }


