*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
}

.toolbox-cont{
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    align-items: center;

}

.toolbox-cont > *{
    margin-left: 4rem;
}


.toolbox-priority-cont{
    height: 3.5rem;
    width: 18rem;
    background-color:#3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.toolbox-priority-cont>*:hover{
    background-color: #485460;
}



.color{
    height: 1.5rem;
    width: 3rem;
}


.lightpink{
    background-color: lightpink;
}


.lightgreen{
    background-color: lightgreen;
}


.lightblue{
    background-color: lightblue;
}

.black{
    background-color: black;
}


.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color:#3d3d3d ;
    display: flex;
}


.action-btn-cont>*{
    display: flex;
    width: 50%;
    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
}


.add-btn:hover{
 background-color: #4BB543;
 }

 .remove-btn:hover{
    background-color: #4BB543;
 }



 .modal-cont{
   height: 50vh;
   width: 45vw;
   display: flex;
   background-color: lightsalmon;
   position: absolute;
   top:30%;
   left: 27%;
   display: none;


}


.main-cont{
    display: flex; 
    gap:2rem;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.ticket-cont{
    height: 12rem;
    width: 15rem;
    background-color: coral;
}

.ticket-color{
    height: 1rem;
}

.ticket-id{
    background-color: yellow;
    height: 2rem;
}



 .textArea-cont{
     height: 100%;
     width: 75%;
     resize: none;
     outline: none;
     border: none;
     background-color: #dfe4ea;
     font-size: 2rem;
     color: black;
 }


 .priority-colors-container{
     height: 100%;
     width: 25%;
     display: flex;
     flex-direction: column;
     background-color: #4b4b4b;
     align-items: center;
     justify-content: space-around;

 }


 .priority-color{
     height: 3rem;
     width: 5rem;
 }


 .active{
     border: 5px solid lightsalmon;
 }


